* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    font-size: 20px;
    transition: all 500ms ease;
}

h4 {
    text-decoration: underline;
}

body {
    color: #34105c;
    background-color: #e1d4f0;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 150px;
}

input[type="email"] {
    width: 50%;
    padding: 0 5px;
    height: 40 px;
    font-size: 16px;
    background: white;
    border: none;
}

input[type="submit"] {
    background: #34105c;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    color: #e9f4fb;
    padding-top: 8px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

form {
    height: 200px;
    position: relative;
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-size: 17px;
}