{% extends 'base.html' %} 
{% load static %} 
{% block title %} Change My Password {% endblock title %} 

{% block css_file %}
<link rel="stylesheet" href="{% static 'main/change_password.css' %}"> 
{% endblock css_file %}
{% block body %}
<div class="d-flex justify-content-center">
    <form action="{% url "main:otp" %}" method="post">
        {% csrf_token %}
        <h4>Forgot Password</h4>
        <label for="email">Please enter your registered e-mail: </label>
        <input placeholder="Email" id="email" type="email" name="email" required>
        <div class="d-flex justify-content-center ">
        <input class="btn btn-primary" type="submit" value='Submit'>
        </div>
    </form>
</div>
{% endblock body %}