{% extends 'base.html' %}
{% load static %}
{% block title %}
    New Password
{% endblock %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'main/friend_request.css'%}">
<style>
    form{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock css_file %}

{% block body %}
    <div id="wrapper"  style='margin-top: 3%;'>
        <h2>Please Enter your new password</h2>
        <div class="friend-wrapper d-flex justify-content-center align-items-center container-lg" style="margin: 15% auto ">
            <form action="{% url "main:new_password" %}" method="post">
                {% csrf_token %}
                    <label for="id_password">Password:</label>
                    <input type="password" name="password_1" required id="id_password">
                    <label for="id_password">Confirm Password:</label>
                    <input type="password" name="password_2" required id="id_password">
                <input type="hidden" name="email" value="{{ email }}">
                <input class='btn btn-danger' type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}