{% extends 'base.html' %}
{% load static %}
{% block title %}
Password changed
{% endblock %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'chat_room/results.css' %}">
{% endblock css_file %}


{% block body %}
<div id='wrapper'>
    <h2>Password Changed </h2>
    <div class="friend-wrapper">
        <p class='left'>Redirecting in <span id='timer'></span> seconds</p>
        <p><a class='btn btn-danger' href="{% url 'main:login' %}">Click here</a> to go to login page</p>
    </div>
</div>
<script>
    var time = 5;
    var interval = setInterval(function() {
        time--;
        if (time == 0) {
            clearInterval(interval);
            window.location.href = "{% url 'main:login' %}";
        }
        document.getElementById('timer').innerHTML = time;
    }, 1000);    
</script>
{% endblock %}